.cp-themes{clear:both;}
.cp-theme-container{ height:220px;display: flex; overflow-x: auto;width:100%;}
.cp-theme{ width: 200px; margin-right:10px;flex-shrink: 0;}
.cp-theme-screenshot img{ max-width:100%; max-height:100%; }
.cp-theme-title{ padding:10px;}
.cp-screen{padding-top:10px;}
.cp-screen div{ float:left; padding-right: 10px; display: table-cell; vertical-align: middle; min-height:27px; line-height: 27px; }
.cp-screen div.clear,
#cp_theme_switch_settings .clear{ float:none; padding: 0; display: block; min-height:0; line-height: auto; clear: both; }
.cp-screen .short{width:100px;}
.cp-preview *{box-sizing: border-box;}
.cp-preview .device{margin: 3rem auto;}
.cp-preview-container{text-align: center; border: 2px solid #222;border-radius: 2px;height: 680px;width: 510px;background:url(bg-02.jpg);background-position: center center;background-size: cover;object-fit: cover;position: relative;}
.cp-preview-container .device-frame{margin-left:auto;margin-right:auto;}
.cp-profiles table{ border-spacing: 0; }
.cp-profiles table tr td{ padding: 5px; }
.cp-profiles table tr.selected td{ border-width: 1px 0 1px 0; border-style:solid; border-color:#1e8cbe; }
.cp-profiles table tr.selected td:first-child{ border-width: 1px 0 1px 1px; }
.cp-profiles table tr.selected td:last-child{ border-width: 1px 1px 1px 0; }